PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=Pf117tt5T5yqt8qa9tg_xxUwsX3Kisr9
DRIVE_DISK=local
DB_CONNECTION=sqlite
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
CACHE_VIEWS=false
